<ion-header >
  <ion-toolbar >
    <ion-title  style="color: #fff!important;">Hisotiras clinicas</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="web-view">
    <div class="input-group">
      <div>
        <ion-item>
          <ion-label class="question-label">Filtrar por paciente</ion-label>
        </ion-item>
        <ion-item>
          <ion-select value="" placeholder="Seleccione paciente" style="width: 100%;">
            <ion-select-option value="Paciente1">Paciente1</ion-select-option>
            <ion-select-option value="oranges">Paciente2</ion-select-option>
            <ion-select-option value="bananas">Paciente3</ion-select-option>
          </ion-select>
        </ion-item>
        <br>
        <ion-list id="labels-list">
          <ion-item lines="none">
            <ion-label>Paciente 1</ion-label>
            <ion-button slot="end" [routerLink]="'/consultas'">Ver detalles</ion-button>
          </ion-item>
          <ion-item lines="none">
            <ion-label>Paciente 2</ion-label>
            <ion-button slot="end">Ver detalles</ion-button>
          </ion-item>
          <ion-item lines="none">
            <ion-label>Paciente 3</ion-label>
            <ion-button slot="end">Ver detalles</ion-button>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </div>

</ion-content>
