<ion-header *ngIf="isPhone">
	<ion-toolbar >
		<ion-title class="center">Dermo App</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
  <div class="spacer" style="width:300px;height:96px;" id="login-spacer1"></div>
  <h1 id="login-heading7" style="color:#FFF;text-align:center;">
    DermoApp
  </h1>
  <div class="spacer" style="width:300px;height:96px;" id="login-spacer7"></div>
  <div [ngClass]="{'web-login':!isPhone}">
	<form (ngSubmit)="login()" [formGroup]="credentials">
		<div class="input-group">
			<ion-item>
        <ion-label>Usuario</ion-label>
				<ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
			</ion-item>
			<div *ngIf="(email?.dirty || email?.touched) && email?.errors" class="errors">
				<span *ngIf="email?.errors?.['required']">Email is required</span>
				<span *ngIf="email?.errors?.['email']">Email is invalid</span>
			</div>
			<ion-item>
        <ion-label>Contraseña</ion-label>
				<ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
			</ion-item>
			<div *ngIf="(password?.dirty || password?.touched) && password?.errors" class="errors">
				<span *ngIf="password?.errors?.['required']">Password is required</span>
				<span *ngIf="password?.errors?.['minlength']">Password needs to be 6 characters</span>
			</div>
		</div>
    <div class="spacer" style="width:300px;height:96px;" id="login-spacer1"></div>

    <div class="center" style="text-align: center;">
      <ion-button type="submit" expand="block" [disabled]="!credentials.valid">
        Iniciar sesión
      </ion-button>
      <div class="spacer" style="width:300px;height:10px;" id="login-spacer1"></div>

      <a type="button" expand="block" color="light" fill="clear">
        Registrarse
      </a>
    </div>
	</form>
  </div>
	
</ion-content>
