<ion-header>
	<ion-toolbar >
		<ion-title class="center">Crear consulta</ion-title>
	</ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
</ion-header>

<ion-content>
  <div class="spacer" style="width:300px;height:25px;" id="login-spacer2"></div>
  <div id="explicacion" style="text-align:center;">
    <strong class="capitalize">Explicación de crear consulta.</strong>
  </div>
  <div style="padding: 20px ;text-align:justify;">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
	<form (ngSubmit)="registrarse()" [formGroup]="registro">
		<div class="input-group">
      <div>
        <ion-item>
          <ion-label class="question-label">Tipos de lesión</ion-label>
        </ion-item>
        <ion-item>
          <ion-select placeholder="Seleccione su tipo de lesión" style="width: 100%;">
            <ion-select-option value="apples">Apples</ion-select-option>
            <ion-select-option value="oranges">Oranges</ion-select-option>
            <ion-select-option value="bananas">Bananas</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
      <div>
        <ion-item >
          <ion-label class="question-label">Forma lesión</ion-label>
        </ion-item>
        <ion-item>
          <ion-select placeholder="Seleccione la forma de la lesión" style="width: 100%;">
            <ion-select-option value="apples">Apples</ion-select-option>
            <ion-select-option value="oranges">Oranges</ion-select-option>
            <ion-select-option value="bananas">Bananas</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
      <div>
        <ion-item>
          <ion-label class="question-label">Número de lesiones</ion-label>
        </ion-item>
        <ion-item>
          <ion-select placeholder="Seleccione la cantidad de lesiones" style="width: 100%;">
            <ion-select-option value="apples">Apples</ion-select-option>
            <ion-select-option value="oranges">Oranges</ion-select-option>
            <ion-select-option value="bananas">Bananas</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
      <div>
        <ion-item>
          <ion-label class="question-label">Distribución</ion-label>
        </ion-item>
        <ion-item>
          <ion-select placeholder="Seleccione la distribución de la lesión" style="width: 100%;">
            <ion-select-option value="apples">Apples</ion-select-option>
            <ion-select-option value="oranges">Oranges</ion-select-option>
            <ion-select-option value="bananas">Bananas</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
      <ion-item>
        <ion-button  expand="block" >
          Escoger parte del cuerpo
        </ion-button>
      </ion-item>
      <ion-item id="login-input1">
        <ion-label>
          Parte del cuerpo
        </ion-label>
        <ion-input [disabled]="true" type="email" placeholder=""></ion-input>
      </ion-item>
      <ion-item>
        <ion-button  expand="block" >
          Agregar evidencia
        </ion-button>
      </ion-item>
		</div>
 
	</form>
</ion-content>
<ion-footer>
  <div class="center" style="text-align: center;">
    <ion-button type="submit" expand="block" [disabled]="!registro.valid">
      Crear consulta
    </ion-button>
  </div>
</ion-footer>
